.menu-items{
 text-align: center;
}
#bs-example-navbar-collapse-1 a:hover{
    background-color: aquamarine;
}
h1{
    margin-bottom: 20px;
}
.content-item{
    background-color:#C9C9C9;
    overflow: hidden;
}
.content-item-title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-style: italic;
}